# Interim Results
*.csv
*.json
*.xml

# Annoying things
*.iml
.idea/
__pycache__/

# When doing EDA on IPython
*.ipynb_checkpoints/

# For macOS
.DS_Store
.DS_Store/

# For GCP Natural Language Credentials, and Saltlux api key
config.py

# result files
crawled_result/
**/*_final_data

# plots
# **/*_plots
# *.png

# Model checkpoints
*.h5
multivariate_LSTM_50units_1layer
multivariate_LSTM_50units_1layer/